/* =========================
   ABOUT SECTION
========================= */
.about-section {
  width: 100%;
  padding: 90px 0px 10px 0px;
  background-color:  #f8f8f8;
}
.about-container {
  max-width: 1400px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 40px;
}
/* Image */
.about-image {
  width: 100%;
  max-width: 490px;
}
.about-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
}
/* Content */
.about-content {
  max-width: 520px;
}
.about-title {
  font-size: clamp(36px, 4vw, 52px);
  font-weight: 700;
  margin-bottom: 24px;
  color:#0f4662 ;
  font-family: "Georgia", serif;
}
.about-content p {
  font-size: 16.5px;
  line-height: 1.9;
  color: rgba(0, 0, 0, 0.75);
  margin-bottom: 18px;
}
.resumeBtn{
  display: inline-block;
  padding: 12px 22px;
  color: #0f4662;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s ease;
}
.resumeBtn:hover{
  transform: translateY(-3px);
  text-decoration: none;
  cursor: pointer;
}
/* =========================
   RESPONSIVE
========================= */
@media (max-width: 900px) {
  .about-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .about-image {
    margin: auto;
  }
  .about-content {
    margin: 20px;
  }
}
@media (max-width: 480px) {
  .about-section {
    padding: 90px 0px 10px 0px;
  }
  .about-title {
    font-size: 34px;
  }
  .about-content p {
    font-size: 15.5px;
  }
}
